!!!
%html
  %head
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  %body
    %h1 Welcome to WorkOut Relief
    %p Thank you for signing up we just need you to click this link to confirm your email account and finish registration.
    =link_to "Confirm Email", confirm_url(code: @code)
