%h1 Who Made This?

.media
  =image_tag("justin-sq.jpg", class: "img-circle pull-left")
  .media-body
  %h2.media-heading Justin Krup
  %p Justin has been working in the video game industry for the past two years, overseeing the releases of over 4 titles in that time. However, his passion doesn't stop at games, he is a true lover of the internet and the knowledge and empowerment it gives people.

%p Although a simple 24 hour hackathon project is what prompted me to work on this. This project has really turned into something I truly care about. 
To start with the idea I called my father and asked him what kinds of things could make his life easier (as he is the closest thing to an "elderly" version of myself that I have). 

-#%p We discussed a few ideas which I may wind up creating someday, but this one seemed like the one that allowed me to make the most impact in the shortest amount of time. He mentioned my step-mother having just recently sprained her ankle playing tennis, and needing to do stretches and exercises to rehabilitate it.

%p The timing of this contest and app was perfect for Fathers day, as I told him regardless of winning any prize I just hope that I could make something/anything that would make at least his life a little better, so at least he would use it even if no one else would.

%p That being said, ultimately I hope many others find this useful for exercising and keeping body parts from getting to sore. To be able to create something in 24 hours that can truely affect many peoples' lives would be a great achievement, I hope people can find use in this creation.
