%h1 What is WorkOut Relief?

%p
  <strong>WorkOut Relief</strong> is a very simple app designed to help anyone with sore or aching body parts quickly find light exercise/ stretching routines to help improve their health. Anyone can add their own exercise/stretching routines, and vote up exercise or stretching routines that are helpful.
